<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
</nav>
<h1>Welcome to The Rublog</h1>
<%= link_to 'See articles', controller: 'articles' %>
or
<%= link_to 'Write one', new_article_path %>
